# In Matter, what did the Iln find in Oramen's memories?

Something else I remember reading is that kids aren't considered the sole responsibility of the parents. As soon as they're born, they're liable to go around with all the neighbors or travel quite independently with the help of drones and hub/ship to be with peer groups from all across the orbital or ship. The woman might very well be not allowed to leave before giving birth, or "scheduling errors" might delay her indefinitely.

## Glittalogik

My guess would be a combination of 2 and 3 - lace and possibly augment the baby (immunity, environmental adaptations, neurological development), and have a stealth drone onsite acting as bodyguard (mostly for the kid) and/or slap-drone (mostly for the parent) as required.
